<launch>

		<!-- Params -->
		<arg name="x" default="0"/>
		<arg name="y" default="0"/>
		<arg name="yaw" default="1.5708"/>
    <arg name="rviz" default="true"/>

    <!--- AMCL -->
    <include file="$(find pollo_mln)/launch/include/amcl.launch" >
			<arg name="initial_pose_x" value="$(arg x)" />
      <arg name="initial_pose_y" value="$(arg y)" />
      <arg name="initial_pose_a" value="$(arg yaw)" />
		</include>

    <!-- Move Base -->
    <include file="$(find pollo_mln)/launch/include/move_base.launch" />

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pollo_mln)/rviz/move_base.rviz" 
      if="$(arg rviz)"/>

</launch> 