<launch>
	<!-- Arguments -->
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0.3"/>
	<arg name="yaw" default="1.5708"/>
	<arg name="obstacle" default="true" />

	<!-- Load controllers -->
	<include file="$(find pollo_control)/launch/control.launch" />

	<!-- World -->
	<include file="$(find pollo_gazebo)/launch/world.launch" />

	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -model pollo -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)" />

	<!-- Spawn obstacles -->
	<include file="$(find pollo_gazebo)/launch/obstacle.launch" if="$(arg obstacle)"/>

</launch>