<launch>
  <arg name="method" default="gui" />

  <!-- GUI sliders -->
  <group ns="gui_teleop" if="$(eval method=='gui')">
    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" >
      <param name="default_topic" value="/pollo/cmd_vel"/>
    </node>
  </group>

  <!-- ps4 joystick -->
  <group ns="joy_teleop" if="$(eval method=='joystick')">
    <rosparam command="load" file="$(find pollo_teleop)/config/ps4.yaml" />
    <node pkg="joy" type="joy_node" name="joy_node" />
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
      <remap from="/joy_teleop/cmd_vel" to="/pollo/cmd_vel" />
    </node>
  </group>
  
  <!-- keyboard -->
  <group ns="keyboard_teleop" if="$(eval method=='keyboard')"> 
    <arg name="repeat_rate" value="50.0" />
    <node name="teleop_keybord" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <param name="repeat_rate" value="$(arg repeat_rate)" />
        <remap from="/cmd_vel" to="/pollo/cmd_vel" />
    </node>
  </group>

</launch>
