<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pollo" >

	<!-- ros_control -->
	<xacro:macro name="gazebo_ros_control" params="">
		<gazebo>
			<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
				<robotNamespace>/pollo</robotNamespace>
				<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			</plugin>
		</gazebo>
	</xacro:macro>

	<!-- skid_steer_drive_controller -->
	<xacro:macro name="skid_steer_drive_controller" params="">
		<gazebo>
			<plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
				<updateRate>100.0</updateRate>
				<robotNamespace>/pollo</robotNamespace>
				<leftFrontJoint>LF_wheel_jnt</leftFrontJoint>
				<rightFrontJoint>RF_wheel_jnt</rightFrontJoint>
				<leftRearJoint>LB_wheel_jnt</leftRearJoint>
				<rightRearJoint>RB_wheel_jnt</rightRearJoint>
				<wheelSeparation>0.61</wheelSeparation>
				<wheelDiameter>1.54</wheelDiameter>
				<robotBaseFrame>footprint</robotBaseFrame>
				<MaxForce>1000.0</MaxForce>
				<torque>1000</torque>
				<commandTopic>cmd_vel</commandTopic>
				<odometryTopic>odom</odometryTopic>
				<odometryFrame>odom</odometryFrame>
				<broadcastTF>1</broadcastTF>
			</plugin>
		</gazebo>
	</xacro:macro>

</robot>
