<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="asado">
  
  <!-- Import components -->
  <xacro:include filename="$(find asado_description)/urdf/include/materials.xacro" />
  <xacro:include filename="$(find asado_description)/urdf/include/plugin.xacro" />
  <xacro:include filename="$(find asado_description)/urdf/include/chassis.xacro" />
  <xacro:include filename="$(find asado_description)/urdf/include/wheel.xacro"/>
  <xacro:include filename="$(find asado_description)/urdf/include/sensor.xacro"/>

  <xacro:property name="chassis_yaml" value="$(find asado_description)/config/chassis.yaml" />
  <xacro:property name="chassis_props" value="${xacro.load_yaml(chassis_yaml)}"/>

  <xacro:property name="LF_wheel_yaml" value="$(find asado_description)/config/wheels/LF_wheel.yaml" />
  <xacro:property name="LF_wheel_props" value="${xacro.load_yaml(LF_wheel_yaml)}"/>

  <xacro:property name="LB_wheel_yaml" value="$(find asado_description)/config/wheels/LB_wheel.yaml" />
  <xacro:property name="LB_wheel_props" value="${xacro.load_yaml(LB_wheel_yaml)}"/>

  <xacro:property name="RF_wheel_yaml" value="$(find asado_description)/config/wheels/RF_wheel.yaml" />
  <xacro:property name="RF_wheel_props" value="${xacro.load_yaml(RF_wheel_yaml)}"/>

  <xacro:property name="RB_wheel_yaml" value="$(find asado_description)/config/wheels/RB_wheel.yaml" />
  <xacro:property name="RB_wheel_props" value="${xacro.load_yaml(RB_wheel_yaml)}"/>

  <xacro:property name="sensor_yaml" value="$(find asado_description)/config/sensor.yaml" />
  <xacro:property name="sensor_props" value="${xacro.load_yaml(sensor_yaml)}"/>

  <!-- Chassis -->
  <xacro:chassis chassis_props="${chassis_props}" />

  <!-- Wheels -->
  <xacro:wheel wheel_props="${LF_wheel_props}" />
  <xacro:wheel wheel_props="${LB_wheel_props}" />
  <xacro:wheel wheel_props="${RF_wheel_props}" />
  <xacro:wheel wheel_props="${RB_wheel_props}" />

  <!-- Sensors -->
  <xacro:lidar lidar_props="${sensor_props}" />

  <!-- Plugin -->
  <xacro:gazebo_ros_control />
  <xacro:gazebo_ros_control />

</robot>