<launch>
    <!-- Setting gui parameter to true for display joint slider -->
    <arg name="use_jnt_gui" value="false"/>
    <arg name="rviz" default="true" />
    
    <!-- Parsing xacro and setting robot_description parameter -->
    <param name="robot_description" command="$(find xacro)/xacro $(find asado_description)/urdf/asado.xacro" />
    
    <!-- Starting Joint state publisher node which will publish the joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" 
        unless="$(arg use_jnt_gui)" />
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" 
        if="$(arg use_jnt_gui)" />
    
    <!-- Starting robot state publish which will publish tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <!-- Launch visualization in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find asado_description)/rviz/asado_description.rviz" 
        if="$(arg rviz)" />
</launch>