<launch>

  <!-- <include file="$(find pollo_mln)/launch/include/gmapping.launch"/> -->

  <!-- Publish odom to tf -->
  <include file="$(find pollo_mln)/launch/include/hector_mapping.launch"/>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pollo_mln)/rviz/gmapping.rviz" />
</launch>