<launch>
	<!-- Arguments -->
	<arg name="spawn_x" default="0"/>
	<arg name="spawn_y" default="3"/>
	<arg name="spawn_z" default="0.23"/>
	<arg name="rviz" default="false"/>

	<include file="$(find asado_gazebo)/launch/world.launch" />
	<include file="$(find asado_control)/launch/asado_control.launch" />

	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description"
		command="$(find xacro)/xacro '$(find asado_description)/urdf/asado.xacro'" />

	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -model asado -param robot_description -x $(arg spawn_x) -y $(arg spawn_y) -z $(arg spawn_z)" />

	<!-- Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find asado_description)/rviz/asado.rviz" 
		if='$(arg rviz)'/>
</launch>