<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pollo">

  <xacro:macro name="lidar" params="lidar_props">

    <!-- Joint -->
    <joint name="laser_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="${sensor_props['lidar']['laser']['x']} ${sensor_props['lidar']['laser']['y']} ${sensor_props['lidar']['laser']['z']}" rpy="0 0 0" />
      <parent link="chassis" />
      <child link="laser_link" />
    </joint>

    <!-- Link -->
    <link name="laser_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${sensor_props['lidar']['laser']['msh']}" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${sensor_props['lidar']['laser']['msh']}" />
        </geometry>
      </visual>
      <inertial>
        <mass value="1E-5" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="1E-6" ixy="0" ixz="0" iyy="1E-6" iyz="0" izz="1E-6" />
      </inertial>
    </link>

    <gazebo reference="laser_link">
      <sensor type="ray" name="laser_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>${sensor_props['lidar']['laser']['visualize']}</visualize>
        <update_rate>40</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>${sensor_props['lidar']['laser']['min_angle']}</min_angle>
              <max_angle>${sensor_props['lidar']['laser']['max_angle']}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${sensor_props['lidar']['laser']['min_range']}</min>
            <max>${sensor_props['lidar']['laser']['max_range']}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <!-- Noise parameters based on published spec for laser laser
                achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
                stddev of 0.01m will put 99.7% of samples within 0.03m of the true
                reading. -->
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_head_laser_controller" filename="libgazebo_ros_laser.so">
          <topicName>/pollo/laser/scan</topicName>
          <frameName>laser_link</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>