<launch>

    <!-- Load controller configurations from YAML file to parameter server -->
    <rosparam command="load" file="$(find pollo_control)/config/control.yaml" />

    <!-- Starting Joint state publisher node which will publish the joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/pollo" args="joint_state_controller 
        LF_wheel_velocity_controller LB_wheel_velocity_controller
        RF_wheel_velocity_controller RB_wheel_velocity_controller" />

    <!-- Convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/pollo/joint_states"/>
    </node>

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" >
        <param name="default_topic" value="/pollo/cmd_vel"/>
    </node>

</launch>