<launch>

  <group ns="joy_teleop">
    <rosparam command="load" file="$(find asado_teleop)/config/teleop_ps4.yaml" />
    <node pkg="joy" type="joy_node" name="joy_node" />
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
      <remap from="/joy_teleop/cmd_vel" to="/asado/cmd_vel" />
    </node>
  </group>
  
</launch>
