<launch>
    <arg name="cmd_vel_topic" default="/pollo/cmd_vel" />
    <arg name="odom_topic" default="/pollo/odom" />
    <arg name="local_planner" default="base" />

    <!-- Move Base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find pollo_mln)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find pollo_mln)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find pollo_mln)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find pollo_mln)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find pollo_mln)/config/$(arg local_planner)_local_planner_params.yaml" command="load" />
        <rosparam file="$(find pollo_mln)/config/move_base_params.yaml" command="load" />
        <remap from="/cmd_vel" to="$(arg cmd_vel_topic)"/>
        <remap from="odom" to="$(arg odom_topic)"/>
    </node>

</launch> 